python-dotenv
openai
langchain>=0.3.14,<0.4
langchain-core>=0.3.29,<0.4
langchain-openai>=0.2.14,<0.3
langchain-community>=0.3.14,<0.4
langchain-text-splitters>=0.3.4,<0.4
langchain-chroma>=0.2.0,<0.3
chromadb
pypdf
sqlalchemy
pandas
scikit-learn
matplotlib
seaborn
streamlit
joblib
python-dateutil
notebook
ipykernel
